.details {
  display: flex;
  flex-direction: column;
  gap: 40px;

  margin-top: 48px;

  &__photos {
    @include page-grid;
  }

  &__block {
    color: $main-color--light;
  }

  &__title {
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0;

    margin: 0;
    margin-top: 16px;
  }

  &__description {
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0;

    margin: 0;
    margin-top: 8px;
  }

  &__link {
    &--wide {
      @include on-tablet {
        grid-column: span 4;
      }

      @include on-desktop {
        grid-column: span 8;
      }
    }

    &--slim {
      @include on-tablet {
        grid-column: span 2;
      }

      @include on-desktop {
        grid-column: span 4;
      }
    }
  }

  &__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__button-container {
    @include page-grid;
  }

  &__button {
    grid-column: span 2;

    @include on-tablet {
      grid-column: 2/-2;
    }

    @include on-desktop {
      grid-column: 5/-5;
    }
  }
}
