.footer {
  background-image: url(../images/bg-footer.png);
  background-size: cover;
  background-position: 70%;
  height: $footer-height--mobile;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;

  @include on-tablet {
    height: $footer-height--tablet;
  }

  @include on-desktop {
    height: $footer-height--desktop;
  }
}
