.header {
  background-image: url(../images/bg-header.png);
  height: 100vh;
  background-size: cover;
  background-position: 90%;

  &__bottom {
    position: relative;
    height: calc(100vh - $header-top-height--mobile);

    @include on-tablet {
      height: calc(100vh - $header-top-height--tablet);
    }
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-style: Bold;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: -1.5px;
    text-align: center;
    vertical-align: middle;
    color: $main-color--light;

    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;

    @include on-tablet {
      font-size: 64px;
    }

    @include on-desktop {
      font-size: 80px;
    }
  }
}
