.section-motto {
  display: grid;
  gap: 32px;

  @include on-tablet {
    grid-template-columns: repeat(6, 1fr);
  }

  &__text {
    font-weight: 500;
    font-style: Medium;
    font-size: 23px;
    line-height: 140%;
    letter-spacing: 0;
    color: $main-color--light;
    margin: 0;

    @include on-tablet {
      grid-column: 4 / -1;
    }
  }

  &__title {
    @include on-tablet {
      grid-column: 1 / 4;
    }
  }
}
