.top-bar {
  display: flex;
  justify-content: space-between;
  height: $header-top-height--mobile;
  align-items: center;

  @include on-tablet {
    height: $header-top-height--tablet;
  }

  &__logo-img {
    display: block;
    height: $logo-height--mobile;

    @include on-tablet {
      height: $logo-height--tablet;
    }
  }

  &__icons-right {
    display: flex;
    gap: 32px;

    @include on-tablet {
      gap: 48px;
    }
  }
}
