@import './utils/variables';
@import './utils/mixins';
@import './utils/image-zoom';
@import './blocks/header';
@import './blocks/icon';
@import './blocks/menu';
@import './blocks/nav';
@import './blocks/section-title';
@import './blocks/section-motto';
@import './blocks/main';
@import './blocks/card';
@import './blocks/product-catalog';
@import './blocks/details';
@import './blocks/button';
@import './blocks/contact';
@import './blocks/footer';
@import './blocks/top-bar';

.page {
  scroll-behavior: smooth;

  &:has(.menu:target) {
    overflow: hidden;
  }

  &__body {
    font-family: Poppins, sans-serif;
    margin: 0;
    background-color: $main-color--dark;
  }

  &__side-padding {
    padding-inline: 20px;
    margin: 0 auto;

    @include on-tablet {
      padding-inline: 72px;
    }

    @include on-desktop {
      padding-inline: max(120px, calc((100% - 1020px) / 2));
    }
  }

  &__main-padding {
    padding-top: 60px;

    @include on-tablet {
      padding-top: 120px;
    }
  }

  &__main-to-footer-padding {
    background-color: $main-color--dark;
    margin-bottom: $footer-height--mobile;
    padding-bottom: 120px;

    @include on-tablet {
      margin-bottom: $footer-height--tablet;
    }

    @include on-desktop {
      margin-bottom: $footer-height--desktop;
    }
  }
}
