$main-color--light: #fff;
$main-color--dark: #1d1d1d;
$menu-color: #c2c2c2;
$tablet-min-width: 744px;
$desktop-min-width: 1260px;
$header-top-height--mobile: 86px;
$header-top-height--tablet: 128px;
$logo-height--mobile: 38px;
$logo-height--tablet: 56px;
$icon-size--mobile: 18px;
$icon-size--tablet: 24px;
$grid-column-gap--mobile: 20px;
$grid-column-gap--tablet: 24px;
$footer-height--mobile: 200px;
$footer-height--tablet: 480px;
$footer-height--desktop: 555px;
$transition-duration: 0.3s;
